.hide {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 14px;
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 500px;
    padding: 0;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
  }
}

/**Hero*/
.hero {
  background-color: #151309;
  padding-bottom: 157px;
}

.bg-hero {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./images/hero/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**Header**/

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 130px;
}
@media only screen and (min-width: 768px) {
  .header {
    align-items: baseline;
    justify-content: center;
  }
}

.logo {
  color: #fff;
  font-family: Lora;
  font-size: 26px;
  line-height: 1;
  padding-top: 10px;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-right: 491px;
  }
}

.header-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
}
.header-item {
}
.header-list-link {
  display: block;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  line-height: 1.66;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 27px 0;
  transition: opacity 300ms ease-in-out;
}
.header-list-link:hover,
.header-list-link:focus {
  opacity: 0.5;
}
.title-hero {
  color: #fff;
  text-align: center;
  font-family: Lora;
  font-size: 50px;
  line-height: 1.02;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
.text-hero {
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  font-size: 17px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.btn-hero {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #dd783f;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 13px;
  line-height: 1.53;
  padding: 12px 31px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn-hero:hover,
.btn-hero:focus {
  opacity: 0.7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.burger-menu-btn {
  position: absolute;
  top: 5px;
  right: 0;
  background: none;
  border: none;
}

@media only screen and (min-width: 767.98px) {
  .burger-menu-btn {
    display: none;
  }
}
.burger-menu-svg {
  fill: #fff;
}
/**Categories**/
.categories {
  display: flex;
  padding: 10px 0;
}
.container {
}
.categorias-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .categorias-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 21px;
  }
}

@media only screen and (min-width: 768px) {
  .categorias-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.categorias-item {
  position: relative;
  width: calc((100% - 2 * 10px) / 3);
}
@media only screen and (max-width: 767.98px) {
  .categorias-item ::after {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%);
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dedede;
  }
}

@media only screen and (min-width: 768px) {
  .categorias-item {
    width: calc((100% - 2 * 20px) / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .categorias-item {
    width: calc((100% - 5 * 20px) / 6);
  }
}
.categorias-link {
  display: block;
  border-radius: 3px;
  color: #768088;
  text-align: center;
  font-family: Lora;
  line-height: 1.42;
  padding: 13px 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.categorias-link:hover {
  background-color: #dd783f;
  color: #fff;
}
/**Popular Posts**/

.popular-posts {
  background-color: #f7f7f7;
  padding: 60px 0 89px 0;
}

.featured-posts {
}
.featured-post-title {
  position: relative;
  color: #2e2e2e;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.1em;
  margin-bottom: 33px;
}
.featured-post-title::after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 188px;
  height: 1px;
  background-color: #dedede;
}
.featured-post-list {
  display: flex;
  gap: 20px;
}
.featured-post-item {
  position: relative;
  overflow: hidden;
  transition: box-shadow 400ms ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.featured-post-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.1);
}
.featured-img {
}

.featured-posts-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px 10px;
  transform: translateY(100%);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  visibility: hidden;
}
.featured-post-item:hover .featured-posts-wrapper,
.featured-post-item:focus .featured-posts-wrapper {
  transform: translateY(-100%);
  visibility: visible;
}
.featured-wrapper-title {
  color: #fff;
  font-family: Lora;
  font-size: 27px;
  line-height: 1.11;
  margin-bottom: 6px;
}
.featured-wrapper-subtitle {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.78;
  margin-bottom: 12px;
}
.featured-author-information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 10px 0;
}
.featured-author-img {
  width: 26px;
  height: 26px;
  border-radius: 60px;
  margin-right: 10px;
}
.featured-author-name {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 2.91;
  margin-right: 215px;
}
.featured-publick-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 2.91;
}

/**Most Recent*/
.most-recent {
  padding-top: 60px;
}
.container {
}
.most-recent-title {
  position: relative;
  color: #2e2e2e;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.1em;
  margin-bottom: 33px;
}
.most-recent-title::after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 188px;
  height: 1px;
  background-color: #dedede;
}
.most-recent-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.most-recent-item {
  width: calc((100% - 2 * 24px) / 3);
  background-color: #fff;
}
.most-recent-img {
  width: 100%;
}
.most-recent-wrapper {
  border-bottom: 1px solid #efefef;
  min-height: 93px;
  padding-top: 14px;
  padding-right: 36px;
  padding-left: 13px;
}
.recent-wrapper-title {
  color: #101315;
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  margin-bottom: 7px;
}
.recent-wrapper-subtitle {
  color: #7a7a7a;
  font-size: 13px;
  line-height: 1.46;
}
.recent-author-information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 10px 0;
  background-color: #fcfcfc;
}
.recent-author-img {
  border-radius: 60px;
  margin-right: 10px;
}
.recent-author-name {
  color: #999;
  font-size: 11px;
  line-height: 3.18;
  margin-right: 115px;
}
.recent-author-date {
  color: #999;
  font-size: 12px;
  line-height: 2.91;
}
/**Footer**/
.footer {
  background-color: #151309;
  padding-top: 80px;
}
.bg-footer {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./images/footer-img/footer-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 218px;
  background: rgba(35, 47, 56, 0.6);
}
.footer-logo {
  color: #fff;
  font-family: Lora;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
}
.footer-list {
  display: flex;
  gap: 20px;
  padding-left: 358px;
}

.footer-list-link {
  display: block;
  padding: 32px 0;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.36x;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: color 300ms ease-in-out;
}
.footer-list-link:hover,
.footer-list-link:focus {
  color: #dd783f;
}
.contact {
  margin-bottom: 80px;
}
.footer-contact-title {
  position: relative;
  color: #efefef;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 38px;
}
.footer-contact-title::after {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translate(-50%);
  content: "";
  width: 188px;
  height: 1px;
  background-color: #dedede;
}
.footer-contact-label {
  display: flex;
  position: relative;
  width: 500px;
  height: 50px;
  margin: 0 auto;
}
.footer-contact-input {
  width: calc(100% - 125px);
  height: 100%;
  padding: 0 35px;
  border-radius: 3px 0px 0px 3px;
  outline: none;
}
.footer-contact-input::placeholder {
  color: #817f83;
  font-family: Roboto;
  font-size: 12px;
  line-height: normal;
}
.contact-form-btn {
  position: absolute;
  right: 0;
  height: 100%;
  width: 125px;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.28);
  color: #f8f8f8;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s;
}
.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #dd783f;
  opacity: 1;
}
